body {
  margin: 0;
  padding: 3%;
  background-color: #f7Fbfc;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  margin: 0 auto;
  width: 50%;
  background-color: #b9d7ea;
  border: solid 5px #769fcd;
  border-radius: 15px;
  text-align: center;
}

.page-title {
  text-decoration: underline #000000;
}

.search-form {
  margin: 1%;
}

.list-container {
  display: flex;
}

.ingredients-container {
  width: 50%;
  margin: 3% 4% 5% 6%; /* t r b l */
  padding: 3px;
  background-color: #d6e6f2;
  border: solid 5px #769fcd;
  border-radius: 15px;
}

.ingredients-header {
  text-align: center;
  text-decoration: underline #000000;
}

.ingredient-list {
  text-align: left;

}

.instructions-container {
  width: 50%;
  margin: 3% 6% 5% 4%;
  padding: 3px;
  background-color: #d6e6f2;
  border: solid 5px #769fcd;
  border-radius: 15px;
}

.instructions-header {
  text-align: center;
  text-decoration: underline #000000;
}
