body {
  margin: 0;
  padding: 3%;
  background-color: #fcf9de;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  margin: 0 auto;
  width: 50%;
  border: solid 5px #769fcd;
  border-radius: 15px;
  text-align: center;
}

.page-title {
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

.sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.title-text {
  margin-left: 18px;
  margin-right: 32px;
}

.title-img {
  display: inline-block;
  padding-top: 25px;
}

.list-text {
  margin-left: 10px;
  margin-right: 10px;
}

.list-img {
  display: inline-block;
}

.search-form {
  margin: 1%;
}

#recipe-url {
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
  width: 80%;
  border: 1px solid #cbcbcb;
  border-radius: 15px;
}

input {
  text-align: center;
}

#search-btn {
  width: 25%;
  height: 15%;
  border-radius: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: large;
}

.search-label {
  font-size: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.list-container {
  display: flex;
}

.ingredients-container {
  width: 50%;
  margin: 3% 4% 5% 6%; /* t r b l */
  padding: 3px;
  border: solid 5px #769fcd;
  border-radius: 15px;
}

.ingredients-header {
  font-family: 'Yellowtail', cursive;
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
}

.ingredient-list {
  text-align: left;

}

.instructions-container {
  width: 50%;
  margin: 3% 6% 5% 4%;
  padding: 3px;
  border: solid 5px #769fcd;
  border-radius: 15px;
}

.instructions-header {
  font-family: 'Yellowtail', cursive;
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
}

.instruction {
  margin-bottom: 10px;
  margin-right: 10px;
}

.ingredient {
  margin-bottom: 5px;
  margin-right: 10px;
}

.compat-list {
  margin: 0;
  width: 100%;
  text-align: center;
}

.credits {
  width: 100%;
  text-align: center;
}
